@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');
@import "tailwindcss";

@theme {
  /* Fonts */
  --font-sans: "Google Sans Code", monospace;
  --font-title: "Roboto Flex", sans-serif;

  /* Deep Sea palette @https://coolors.co/palette/0d1b2a-1b263b-415a77-778da9-e0e1dd */
  --color-sea-darkest: #0D1B2A;
  --color-sea-dark: #1B263B;
  --color-sea-medium: #415A77;
  --color-sea-light: #778DA9;
  --color-sea-lightest: #E0E1DD;

  --color-sea-header-bg: var(--color-sea-dark);
  --color-sea-body-bg: var(--color-sea-light);
  --color-sea-sections-bg: var(--color-sea-lightest);
}

/* Body classes */
.body-definition {
  @apply bg-sea-body-bg text-gray-900;
}

/* Header classes */
.header-definition {
  @apply bg-sea-header-bg shadow;
}

.header-container {
  @apply max-w-5xl mx-auto flex items-center justify-between p-8;
}

.header-name {
  @apply text-3xl font-title font-semibold text-sea-lightest;
}

.header-name-text {
  @apply text-sea-light;
}

.header-extra-icons {
  @apply flex justify-center items-center space-x-8 mb-5;
}

.header-icon-size {
  @apply h-8 w-8;
}

.header-icon-size-email {
  @apply h-10 w-10;
}

.header-icon-color {
  @apply text-sea-light hover:text-sea-medium;
}

/* Main classes */
.main-definition {
  @apply max-w-5xl mx-auto p-6;
}

/* Footer classes */
.footer-definition {
  @apply bg-gray-200 p-6 mt-12;
}

.footer-container {
  @apply max-w-5xl mx-auto text-center;
}

.footer-text {
  @apply text-gray-600 mt-2;
}

/* About classes */
.about-section {
  @apply mb-12 bg-sea-sections-bg p-8 rounded-2xl shadow-inner;
}

.about-header {
  @apply text-2xl font-title font-semibold;
}

.about-paragraph {
  @apply text-gray-700 leading-relaxed whitespace-pre-line font-sans;
}

.about-list {
  @apply list-[square] list-inside ml-2 text-gray-800 leading-relaxed font-sans;
}

.about-list-keyword {
  @apply font-semibold;
}

/* Skills classes */
.skills-section {
  @apply mb-12 bg-sea-sections-bg p-8 rounded-2xl shadow-inner;
}

.skills-header {
  @apply text-2xl font-title font-semibold mb-4;
}

.skills-paragraph {
  @apply text-gray-900 leading-relaxed whitespace-pre-line font-sans;
}

.skills-list {
  @apply list-[square] list-inside ml-2 text-gray-700 leading-relaxed font-sans;
}

.skills-list-keyword {
  @apply font-semibold;
}

.skills-subheader {
  @apply font-bold;
}

.skills-bullet-header {
  @apply font-semibold;
}

.skills-inline {
  @apply text-gray-600;
}

/* Project classes */
.project-section {
  @apply mb-12 bg-sea-sections-bg p-8 rounded-2xl shadow-inner;
}

.project-header {
  @apply text-2xl font-title font-semibold mb-4;
}

.project-summary {
  @apply text-gray-700 mb-4;
}

.project-grid {
  @apply grid grid-cols-1 sm:grid-cols-2 gap-6 max-w-5xl mx-auto;
}

.project-cell {
  @apply bg-sea-dark p-6 rounded-lg shadow cursor-pointer hover:shadow-lg transition;
}

.project-title {
  @apply text-xl text-gray-400 font-bold mb-2;
}

.project-description {
  @apply text-gray-300;
}

/* Modal classes */
.modal-overlay {
  @apply fixed inset-0 bg-black/50 items-center justify-center;
}

.modal-container {
  @apply bg-sea-dark rounded-xl shadow-lg w-6xl max-h-[80vh] top-4 relative flex flex-col;
}

.modal-header {
  @apply bg-sea-darkest flex items-center rounded-xl justify-between p-6 sticky z-10;
}

.modal-techstack {
  @apply px-6 py-2 border-b bg-sea-lightest text-sm text-sea-medium;
}

.modal-techstack-title {
  @apply font-semibold;
}

.modal-button {
  @apply text-gray-400 hover:text-gray-100;
}

.modal-body {
  @apply p-6 overflow-y-auto;
}

.modal-title {
  @apply text-gray-400 text-2xl font-title font-bold;
}

.modal-paragraph {
  @apply text-gray-300 mb-4 whitespace-pre-line;
}

.modal-list {
  @apply list-[square] list-inside ml-4 text-gray-300 leading-relaxed font-sans;
}

.modal-list-title {
  @apply font-bold text-gray-200;
}

.modal-list-keyword {
  @apply font-semibold text-gray-200;
}

.modal-image {
  @apply mx-auto cursor-pointer hover:opacity-80 transition-all duration-300 ease-in-out;
}

.modal-gallery {
  @apply flex justify-center space-x-2 my-4;
}

.modal-gallery-image {
  @apply cursor-zoom-in transition-all duration-300 ease-in-out rounded-lg shadow;
}

.modal-image-description {
  @apply max-w-prose mx-auto text-center text-sea-light;
}

.modal-image-keyword {
  @apply font-semibold;
}

.modal-image-description-link {
  @apply text-sea-lightest hover:text-sea-medium font-semibold;
}

.modal-video {
  @apply relative w-full overflow-hidden rounded-xl shadow-lg mx-auto;
}

.modal-video-iframe {
  @apply absolute top-0 left-0 w-full h-full;
}

/* Contact classes */
.contact-section {
  @apply bg-sea-sections-bg p-8 rounded-2xl shadow-inner;
}

.contact-header {
  @apply text-2xl font-title font-semibold mb-6 text-center;
}

.contact-form {
  @apply max-w-lg mx-auto;
}

.contact-field-text {
  @apply text-gray-700;
}

.contact-submit {
  @apply w-full bg-sea-dark text-white py-3 px-6 rounded-lg font-semibold hover:bg-blue-700 transition;
}

.contact-input-email {
  @apply px-1 mt-1 block w-full rounded-lg border-gray-300 shadow-sm focus:border-blue-500 focus:ring-blue-500;
}

.contact-input-message {
  @apply px-1 mt-1 block w-full rounded-lg border-gray-300 shadow-sm focus:border-blue-500 focus:ring-blue-500;
}

.contact-label-email {
  @apply block mb-4;
}

.contact-label-message {
  @apply block mb-6;
}

.contact-extra-container {
  @apply max-w-lg mx-auto mt-8 text-center;
}

.contact-extra-description {
  @apply text-gray-700 mb-4;
}

.contact-extra-icons {
  @apply flex justify-center items-center space-x-8;
}

.contact-icon-size {
  @apply h-8 w-8;
}

.contact-icon-size-email {
  @apply h-10 w-10;
}

.contact-icon-color {
  @apply text-sea-medium hover:text-sea-dark;
}

/* Other styles */
.code-snippet {
  @apply font-mono bg-gray-100 text-gray-800 p-2 rounded overflow-x-auto;
}